agent-company/workflows/05-lead-validation.json
{
  "name": "05 - Lead Validation",
  "nodes": [
    {
      "id": "schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 * * * *"
            }
          ]
        }
      }
    },
    {
      "id": "get-unvalidated",
      "name": "Get Unvalidated Leads",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, business_name, email, website, phone_number FROM leads.contacts WHERE status = 'new' ORDER BY created_at ASC LIMIT 50",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "postgres-main",
          "name": "AgentCo Postgres"
        }
      }
    },
    {
      "id": "check-any",
      "name": "Any Leads To Validate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "batch-leads",
      "name": "Batch Leads",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        900,
        220
      ],
      "parameters": {
        "batchSize": 10,
        "options": {}
      }
    },
    {
      "id": "run-validator",
      "name": "Run Validator Script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1120,
        220
      ],
      "parameters": {
        "command": "node /scripts/dist/validators/lead-validator.js --input '{{ JSON.stringify($input.all().map(i => i.json)) }}'"
      }
    },
    {
      "id": "parse-results",
      "name": "Parse Validation Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        220
      ],
      "parameters": {
        "jsCode": "const raw = $input.first().json.stdout;\nconst results = JSON.parse(raw);\nreturn results.map(r => ({ json: r }));"
      }
    },
    {
      "id": "update-leads",
      "name": "Update Lead Validation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1560,
        220
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE leads.contacts SET lead_score = {{ $json.validation_score }}, status = CASE WHEN {{ $json.is_valid }} THEN 'researched' ELSE 'lost' END, updated_at = NOW() WHERE id = '{{ $json.id }}'::uuid",
        "options": {
          "queryBatching": "independently"
        }
      },
      "credentials": {
        "postgres": {
          "id": "postgres-main",
          "name": "AgentCo Postgres"
        }
      }
    },
    {
      "id": "no-op",
      "name": "Nothing To Validate",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        900,
        420
      ],
      "parameters": {}
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Unvalidated Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unvalidated Leads": {
      "main": [
        [
          {
            "node": "Any Leads To Validate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Leads To Validate?": {
      "main": [
        [
          {
            "node": "Batch Leads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nothing To Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Leads": {
      "main": [
        [
          {
            "node": "Run Validator Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Validator Script": {
      "main": [
        [
          {
            "node": "Parse Validation Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Validation Results": {
      "main": [
        [
          {
            "node": "Update Lead Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "nHzJlPJf4qiWlWNC"
  },
  "staticData": null,
  "id": "QUMjuboxE8vkTZ4k"
}