agent-company/workflows/12-heartbeat.json
{
  "name": "12 - Heartbeat (Periodic Self-Wake)",
  "nodes": [
    {
      "id": "hb-cron",
      "name": "Hourly Cron",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 * * * *"
            }
          ]
        }
      },
      "notes": "Default: every hour at :00. HEARTBEAT_CRON_MINUTES=60 in .env is the intent; change cron expression if that env var changes."
    },
    {
      "id": "hb-gate",
      "name": "Gate: Read HEARTBEAT.md",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "command": "HEARTBEAT_FILE=/config/HEARTBEAT.md node /scripts/dist/heartbeat/gate-check.js"
      }
    },
    {
      "id": "hb-parse-gate",
      "name": "Parse Gate Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ],
      "parameters": {
        "jsCode": "// gate-check.js emits JSON on stdout: { hasTasks, taskCount, tasks: [...] }\n// If it threw, the Execute Command node gives us stderr instead.\nconst input = $input.first();\nconst raw = input?.json?.stdout || input?.json?.exitCode === 0 ? (input?.json?.stdout ?? '') : '';\n\ntry {\n  const parsed = JSON.parse(String(raw).trim() || '{}');\n  if (parsed.error) {\n    return [{ json: { hasTasks: false, taskCount: 0, tasks: [], gateError: parsed.error } }];\n  }\n  return [{ json: parsed }];\n} catch (e) {\n  return [{ json: { hasTasks: false, taskCount: 0, tasks: [], gateError: 'gate-check output unparseable: ' + String(e).slice(0, 200) } }];\n}"
      }
    },
    {
      "id": "hb-has-tasks",
      "name": "Any Active Tasks?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        900,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.hasTasks }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "hb-build-prompt",
      "name": "Build Heartbeat Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        200
      ],
      "parameters": {
        "jsCode": "const gate = $input.first().json;\nconst taskLines = (gate.tasks || []).map((t, i) => `${i + 1}. ${t}`).join('\\n');\n\nconst prompt = `You are the agent on a scheduled heartbeat wake.\\n\\n` +\n  `HEARTBEAT.md has ${gate.taskCount} active task(s):\\n` +\n  `${taskLines}\\n\\n` +\n  `For each task, check it and report concisely.\\n` +\n  `If everything is fine and there is nothing to report, return EXACTLY \\`HEARTBEAT_OK\\` as your entire response so I can skip noise.\\n` +\n  `If anything needs the user's attention, respond with the findings (one short paragraph per task) and omit the HEARTBEAT_OK sentinel.`;\n\nreturn [{ json: { prompt, taskCount: gate.taskCount } }];"
      }
    },
    {
      "id": "hb-relay",
      "name": "Call Claude Via Relay",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1340,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_RELAY_URL }}/run-agent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"task\": {{ JSON.stringify($json.prompt) }},\n  \"timeoutSeconds\": 240,\n  \"channelId\": \"heartbeat\"\n}",
        "options": {}
      }
    },
    {
      "id": "hb-check-ok",
      "name": "HEARTBEAT_OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1560,
        200
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ String($json.output || '').trim().toUpperCase() }}",
              "rightValue": "HEARTBEAT_OK",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "hb-log-ok",
      "name": "Log Silent Heartbeat",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1780,
        100
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO memory.task_log (agent_id, workflow_name, task, status, result) VALUES ('pocket', 'heartbeat', 'scheduled_wake', 'completed', '{\"result\":\"HEARTBEAT_OK\",\"silent\":true}'::jsonb)",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "postgres-main",
          "name": "AgentCo Postgres"
        }
      }
    },
    {
      "id": "hb-forward-tg",
      "name": "Forward Findings to Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1780,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $env.TELEGRAM_CHAT_ID }}\",\n  \"text\": {{ JSON.stringify('\ud83e\udec0 Heartbeat report\\n\\n' + String($json.output || '(empty response)').slice(0, 3800)) }}\n}",
        "options": {}
      }
    },
    {
      "id": "hb-log-report",
      "name": "Log Reporting Heartbeat",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2000,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO memory.task_log (agent_id, workflow_name, task, status, result) VALUES ('pocket', 'heartbeat', 'scheduled_wake', 'completed', jsonb_build_object('silent', false, 'output', {{ JSON.stringify(String($('Call Claude Via Relay').item.json.output || '').slice(0, 4000)) }}))",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "postgres-main",
          "name": "AgentCo Postgres"
        }
      }
    },
    {
      "id": "hb-noop-empty",
      "name": "Nothing Active \u2014 Skip",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        420
      ],
      "parameters": {}
    }
  ],
  "connections": {
    "Hourly Cron": {
      "main": [
        [
          {
            "node": "Gate: Read HEARTBEAT.md",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gate: Read HEARTBEAT.md": {
      "main": [
        [
          {
            "node": "Parse Gate Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gate Output": {
      "main": [
        [
          {
            "node": "Any Active Tasks?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Active Tasks?": {
      "main": [
        [
          {
            "node": "Build Heartbeat Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nothing Active \u2014 Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Heartbeat Prompt": {
      "main": [
        [
          {
            "node": "Call Claude Via Relay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude Via Relay": {
      "main": [
        [
          {
            "node": "HEARTBEAT_OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HEARTBEAT_OK?": {
      "main": [
        [
          {
            "node": "Log Silent Heartbeat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Forward Findings to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forward Findings to Telegram": {
      "main": [
        [
          {
            "node": "Log Reporting Heartbeat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "id": "workflow-12-heartbeat"
}